<footer class="o-page__footer c-footer">
  <nav>

    <ul>
      <li>
        <img class="c-footer__brand" src="{{$.Prefix}}assets/png/mosaic.png"/>
      </li>
      <li>
        <img class="c-footer__brand" src="{{$.Prefix}}assets/png/Hochbahn.png"/>
      </li>
      <li>
        <img class="c-footer__brand" src="{{$.Prefix}}assets/png/LogoHVV.png"/>
      </li>
      <li><a href="">Impressum</a></li>
    </ul>
  </nav>

</footer>
