<footer class="o-page__footer c-footer">
    <nav>
        <ul>
            <li><a href="">Impressum</a></li>
        </ul>
    </nav>
    <div>
        <img class="c-footer__brand" src="{{$.Prefix}}assets/png/LogoHVV.png" width="150px"/>
        <img class="c-footer__brand" src="{{$.Prefix}}assets/png/Hochbahn.png" width="150px"/>
        <br>
        <br>
        <img class="c-footer__brand" src="{{$.Prefix}}assets/png/mosaic.png" width="150px"/>
    </div>

</footer>
