:root{
    --button__color: #f6f5f8;
    --button__color-active: #5b9bd5;
    --button__color-hover: #c5d5e4;
}

.c-filter{
    position: sticky;
    top: 60px;
}
.c-filter h3{
    display:inline;
    margin-right: 25px;
}
.c-filter .filter-bar{
    padding: 15px 50px 15px 15px;
    background: white;
    margin-bottom: 10px;
}

.c-filter button {
    background-color:  var(--button__color);
    border: 1px solid var(--button__color-active);
    color: rgb(0, 0, 0); 
    padding: 10px 24px; 
    cursor: pointer; 
    margin: 0 20px;
    float: right;
    min-width: 110px;
  }

  .c-filter .btn-group button {
    margin: 0;
  }
.c-filter button.active{
    background-color:  var(--button__color-active);
}
  
.c-filter .btn-group {
    display: inline;
  }

  .c-filter .btn-group:after {
    content: "";
    clear: both;
  }
  
  .c-filter .btn-group button:not(:last-child) {
    border-left: none;
  }
  
  .c-filter button:hover {
    background-color: var(--button__color-hover);
  }

  .c-filter input{
    height: 37px;
    border: 2px solid #5b9bd5;
    padding: 0px 20px;
    font-weight: 700;
    margin-top: -10px;
  }