:root {
  --brand-color: #5b9bd5;
  --brand-color-light: #00b050;
  --primary-color: #626b72;
  --secondary-color: #7c7e80;
  --terciary-color: #f1f1f3;
  --background-color: #f9f9f9;
  --hvvblue-color: #004698;
  --hvvred-color:#e52e2e;
}