:root {
  --brand-color: #2222;
  --brand-color-light: #e52e2e;
  --primary-color: #626b72;
  --secondary-color: #7c7e80;
  --terciary-color: #f1f1f3;
  --background-color: #f9f9f9;
  --hvvblue-color: #004698
}